.cart-drawer {
	height: 100%;
	background: white;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(+100%);
	transition: transform 0.3s ease-in-out;
}

.cart-drawer.open {
	transform: translateX(0);
	background-color: #f2fbf7;
}

.emptyCartImg {
	width: 100%;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

.cartDiv {
	position: absolute;
	background-color: white;
	bottom: 0;
	width: 100%;
	display: grid;
}

.cartExitImg {
	width: 15px;
	height: 15px;
	aspect-ratio: auto 15/15;
	padding: 5%;
	transition: 0.2s;
	cursor: pointer;
	margin-left: 80%;
}

.cartExitImg:hover {
	width: 18px;
	height: 18px;
	transition: 0.4s;
	transform: rotate(90deg)
}

.freeReturnImg {
	width: 42px;
	aspect-ratio: auto 42/41;
	height: 31px;
}

.freeReturnDiv {
	display: inline-block;
}

.freeReturnText {
	font-size: 15px;
	padding: 0 0 0 16px;
}

.displayCartWrapper {
	height: 78%;
	/* padding: 0 15px; */
	overflow-y: auto;
}

.cartUL {
	border-bottom: solid 1px white;
	padding: 1%;
}

.cartTrashImg {
	width: 14px;
	height: 16px;
	aspect-ratio: auto 14/16;
	cursor: pointer;
	transition: 0.3s;
	float: right;
	margin-right: 30px;
}

.cartTrashImg:hover {
	transform: rotate(140deg);
	transition: 0.3s;
}