.desktopNavigationWrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	background-color: #b5d5d1;
}

.navigationProfile {
	grid-column: 16/17;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}

.navigationShoppingCart {
	grid-column: 18/19;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}

.signInButton {
	grid-column: 16/17;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.navigationLogotype {
	grid-column: 2/4;
	grid-row: 1/1;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	width: 52px;
	padding: 2%;
}

.desktopNavigationTabs {
	grid-column: 7/9;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}

.navHeartWrapper {
	grid-column: 17/18;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.navHeart {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.navHeartCounter {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: #ff3c00;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 4px;
}