.productViewTitleWrapper {
	margin-left: 4%;
	padding: 2%;
}

.productViewTitle {
	font-size: 2.75rem;
	line-height: 3rem;
	margin-top: -0.07em;
	margin-bottom: 0.07em;
}

.productViewSubTitle {
	color: #8D9092;
	font-size: 1.1rem;
}